@{
    //This is use some where else
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@{
    for (int i = 0; i < 5; i++)
    {
        <text>@ViewBag.SomeThingElse</text>
    }
}
<p>Use this area to provide additional information.</p>
